@using PopcornTask.Models
@using PopcornTask.Shared
@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin: 0 auto; width: 400px;">
	<p>Welcome To Popcorn</p>
	<p>Logged in as <span style="color:#fd006b;">@SessionContainer.User.Username</span></p>
</div>
