<!DOCTYPE html>
<html lang="en">
    <head> 
    <title> login</title>
    </head>
    <body background ="bckgrnd.jpg">
    <h3> please enter your username and password</h3>
        <form action="/login" method="POST">
            <div>
                Name: <br><input type="text" name="name">
            </div>
            <div>
                password: <br><input type="password" name="password"><br>
            </div>
            <input type="submit" value="Submit">
          </form>
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 2%;
        }

        div {
            margin: 2% 0;
        }
    </style>
</html>
